/* || CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* border: 1px solid red; */
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* || global styles  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

input {
  outline: none;
}
/* || typography */
/* || fonts */
@font-face {
  font-family: "ComicNeue";
  src: url("/src/assets/fonts/ComicNeueAngular-Regular.woff") format("woff"),
    url("/src/assets/fonts/ComicNeueAngular-Regular.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
/* || font styles */
:root {
  font-family: "ComicNeue";
  font-size: 24px;
}



/* || variables */


:root {
  /* || color variables */
  --dark: hsl(207, 95%, 8%);
  --light: hsl(217, 34%, 88%);
  --dark-accent: hsl(207, 95%, 17%);
  --dark-selected: hsl(206, 93%, 12%);
  --red: hsl(1, 83%, 63%);
  --green: hsl(145, 73%, 49%);
  --yellow: hsl(84, 62%, 63%);
  --blue: hsl(221, 100%, 75%);
  --orange: hsl(14, 90%, 70%);
  --magenta: hsl(276, 68%, 75%);
  --cyan: hsl(169, 72%, 45%);
  --white: hsl(0, 0%, 100%);
  --bright-black: hsl(0, 1%, 34%);

  /* || font variables */
  --h1-font-size: 3rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --nav-font-size: .8rem;
  --input-font-size: .7rem;
  --todo-title-font-size: .9rem;
  --todo-description-font-size: .7rem;
}



/* || layout */

body {
  height: 100vh;
}

header,
footer {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
}

main {
  display: flex;
  height: calc(100vh - 5rem);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: max(15vw, 150px);
  padding: 2.5em 0 0 1em;
}

/* || components */


body {
  background-color: var(--dark);
  color: var(--light);
}
/* || header and footer */

header {
  height: 5rem;
  padding: 10px;
  background-color: var(--dark);
  color: var(--light);
}

.nav-footer {
  font-size: 2rem;
}

header h1 {
  margin: auto;
  color: var(--light);
  font-size: var(--h1-font-size);
}
/* || navigation */

nav {
  font-size: var(--nav-font-size);
}

.nav-footer {
  margin: auto auto 0 auto;
  color: var(--light);
}

nav > li {
  min-height: 1.75rem;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1em;
  margin: 0.25em 0;
  border: 1px solid var(--light);
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em;
  border-right: none;
  font-weight: bold;
}

nav > li:hover {
  width: 100%;
}

nav > li:active {
  width: 100%;
}

/* || buttons */

button {

  background-color: var(--dark-selected);
  color: var(--light);
  border: 2px solid var(--bright-black);
  border-radius: 2em;
  padding: .25em .7em;
  transition: all .15s ease;
}

button:hover {
  padding: .25em 1em;
  background-color: var(--dark-accent);
}

button:focus {
  box-shadow: inset .1em .1em var(--bright-black);
}

/* || content */

main {
  background-color: var(--dark);
  color: var(--light);
}

.display {
  border-top: 2px solid var(--light);
  border-left: 2px solid var(--light);
  border-top-left-radius: 2em;
  padding: 1em; 
}

.display-options {
  margin-bottom: 1rem;
}

.app-content {
  display: grid;
  grid-template-columns: min-content 1fr;
}


/* || todo cards */

.todo-card {
  display: grid;
  grid-template-columns: 20% 1fr 20% ;
  text-align: center;
  gap: .5rem;
  background-color: var(--dark-selected);
  border: 1px solid var(--bright-black);
  border-radius: .25rem;
  margin: .25rem 0;
  padding: .5em;
  
}

/* || inputs */

.make-todo-display {
  background-color: var(--dark-accent);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light);
  border-radius: .25rem;
  padding: .5rem;
}

.add-todo-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: .5rem;
  /* transition: all 1s ease; */
}

.field-input {
  transition: all 0.2s ease;
  padding: 3px 1em;
  margin: 0 1em;
  border-radius: 2em;
  width: 75%;
}

input:focus {
  outline: solid 3px var(--magenta);
}

.todo-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5em;
}

.todo-input.due-date {
  justify-content: center;
}

#due-date {
  width: auto;
}

/* || utilities */

.hide {
  display: none;
  position: static;
}

.pop-out {
  content: '';
  position: absolute;
  
  
}
