/* || CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 1px solid red;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* || global styles  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #011627;
  color: #d6deeb;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* || typography */
/* || fonts */
@font-face {
  font-family: "ComicNeue";
  src: url("/src/assets/fonts/ComicNeueAngular-Regular.woff") format("woff"),
    url("/src/assets/fonts/ComicNeueAngular-Regular.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
/* || font styles */
:root {
  font-family: "ComicNeue";
  font-size: 24px;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

/* || variables */

/* || layout */

header,
footer {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
}

main {
  display: flex;
  flex-grow: 1;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: max(15vw, 150px);
  max-width: 300px;
  padding: 1em 0 0 1em;
}

/* || components */
/* || header and footer */

header,
footer {
  padding: 10px;
  background-color: #011627;
  color: #d6deeb;
}

header {
  height: 5rem;
}

footer {
  font-size: 2rem;
}

header h1 {
  color: #d6deeb;
}
/* || navigation */

nav {
  font-size: 0.8rem;
}

nav > li {
  min-height: 1.75rem;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1em;
  margin: 0.25em 0;
  border: 1px solid white;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
  border-right: none;
  transition: all 2s;
}

nav > li:hover {
  width: 100%;
}

nav > li:active {
  width: 100%;
}

/* || buttons */

button {
  background-color: gray;
  color: greenyellow;
}

/* || content */

main {
  background-color: #011627;
  color: #d6deeb;
}

.app-content {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.make-todo-display {
  display: flex;
  flex-direction: column;
}

/* || inputs */

.add-todo-fields .hide {
  transition: all 1s ease;
}

.add-todo-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.field-input {
  transition: all 0.2s ease;
  padding: 3px 1em;
  margin: 0 1em;
  border-radius: 2em;
  width: 75%;
}

input:focus {
  border: 5px solid green;
}

.todo-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5em;
}

.todo-input.due-date {
  justify-content: center;
}

#due-date {
  width: auto;
}

/* || utilities */

.hide {
  display: none;
}
